<main class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Incio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Logout</li>
        </ol>
      </nav>
    <h4>Escribe algo:</h4>
    <input class="form-control mb-2" type="text" [(ngModel)]="texto">

    <p>{{texto}}</p>

    <button class="btn btn-primary" type="button" (click)="showAlert()">Mostrar texto en alerta</button>
</main>
